:root {
    --card-bg: rgba(255, 255, 255, 0.05);
    --text: #eaf6ff;
    --muted: #bcd7e3;
    --accent:#78c8de;
}

.anime-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.anime-card {
    background: var(--card-bg) ;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.45);
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease, box-shadow 0.3 ease;
    cursor: pointer;
}

.anime-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(113, 113, 113, 0.6);
}

.anime-card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-bottom: 2px solid var(--accent);
}

.anime-title {
    font-family: "Roboto Mono", monospace;
    color: var(--text);
    font-size: 0.95rem;
    font-weight: 600;
    text-align: center;
    padding: 0.8rem;
    line-height: 1.3;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 600px) {
    .anime-card {
        width: 45%;
    }
    .anime-title {
        font-size: 0.9rem;
        height: 50px;
    }
}

body{
    background-image: url(/Backgrounds/Lucid_Origin_A_smooth_gradient_edge_background_blending_charco_2.jpg);
    background-size: cover;
    background-position: center center;
    color: aliceblue;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

body h2{
    font-family: "Roboto Mono", monospace;
    color: aliceblue;
    font-size: 32px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
    padding-top: 20px;
    position: relative;
    z-index: 1;
}

form{
    display: flex;
    justify-content: center;
}

input[type="text"] {
    display: flex;
    flex-grow: 12;
    height: 30px;
    padding-left: 20px;
    margin: 20px 10px 30px 80px;
    border-radius: 30px;
    border-color: rgb(11, 181, 181);
}

#btn {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    margin: 20px 80px 30px 5px;
    border-radius: 30px;
    border-color: rgb(11, 181, 181);
    color: aliceblue;
    background-color: rgb(120, 200, 222);
    font-size: medium;
    cursor: pointer;
}

section {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

